affine==2.4.0
aiofiles==22.1.0
aiohttp==3.8.4
aiosqlite==0.19.0
appdirs==1.4.4
arrow==1.2.3
asttokens==2.2.1
attrs==22.2.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
bokeh==2.4.3
branca==0.6.0
brotlipy==0.7.0
cached-property==1.5.2
Cartopy==0.21.1
certifi==2022.12.7
cffi==1.15.1
cftime==1.6.2
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
cmasher==1.6.3
colorama==0.4.6
colorspacious==1.1.2
comm==0.1.2
contourpy==1.0.7
cryptography==39.0.0
cycler==0.11.0
cytoolz==0.12.0
dask==2023.1.0
dataclasses-json==0.5.7
debugpy==1.6.6
decorator==5.1.1
distributed==2023.1.0
e13tools==0.9.6
entrypoints==0.4
exceptiongroup==1.1.0
executing==1.2.0
faiss-cpu==1.7.4
Fiona==1.8.22
folium==0.14.0
fonttools==4.38.0
fqdn==1.5.1
fsspec==2023.1.0
GDAL==3.6.2
geopandas==0.12.2
grpcio==1.51.3
h5netcdf==0.0.0
h5py==3.7.0
HeapDict==1.0.1
idna==3.4
importlib-metadata==5.2.0
importlib-resources==5.10.2
iniconfig==2.0.0
ipykernel==6.20.2
ipython==8.8.0
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter_ai==0.7.3
jupyter_ai_magics==0.7.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter-events==0.6.3
jupyter-server==1.24.0
jupyter_server_fileid==0.9.0
jupyter_server_ydoc==0.8.0
jupyter-ydoc==0.2.4
jupyterlab==3.6.4
jupyterlab_server==2.22.1
kiwisolver==1.4.4
langchain==0.0.159
llvmlite==0.39.1
locket==1.0.0
lz4==4.2.0
mapclassify==2.5.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.0
matplotlib-inline==0.1.6
msgpack==1.0.4
munch==2.5.0
munkres==1.1.4
mypy-extensions==1.0.0
nest-asyncio==1.5.6
netCDF4==1.6.2
networkx==3.0
numba==0.56.4
numexpr==2.8.4
numpy==1.21.5
openai==0.27.7
openapi-schema-pydantic==1.2.4
OWSLib==0.27.2
packaging==23.0
pandas==1.5.3
parso==0.8.3
partd==1.3.0
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pip==22.3.1
platformdirs==2.6.2
pluggy==1.0.0
ply==3.11
pooch==1.6.0
prompt-toolkit==3.0.36
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.14.0
pykdtree==1.3.6
pymannkendall==1.4.2
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyproj==3.4.1
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyshp==2.3.1
PySocks==1.7.1
pytest==7.2.1
pytest-mpl==0.16.1
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2022.7.1
PyYAML==6.0
pyzmq==25.1.0
rasterio==1.3.4
ray==2.4.0
regex==2023.5.5
regionmask==0.9.0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
Rtree==1.0.1
scikit-learn==1.2.0
scipy==1.10.0
setuptools==66.1.1
shapely==2.0.0
sip==6.7.5
six==1.16.0
snuggs==1.4.7
sortedcontainers==2.4.0
stack-data==0.6.2
tblib==1.7.0
tenacity==8.2.2
threadpoolctl==3.1.0
tiktoken==0.4.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.3.2
traitlets==5.9.0
typing_extensions==4.5.0
typing-inspect==0.9.0
unicodedata2==15.0.0
uri-template==1.2.0
urllib3==1.26.14
wcwidth==0.2.6
webcolors==1.13
wheel==0.38.4
xarray==0.20.1
xscale==0.1.dev0+35.ga804866
xyzservices==2022.9.0
y-py==0.5.9
ypy-websocket==0.8.2
zict==2.2.0
zipp==3.11.0
